*{margin: 0;padding: 0;}
.hourDate,.motDate,.weekDate,.dateWrap li,.dateWrap li span{display: inline-block;*display: inline;vertical-align: top;*zoom: 1;}
.dateWrap {width: 900px;font-size: 0;}
.btn{cursor: pointer;}
.dateWrap ul{border-top: 1px solid #ccc;border-left: 1px solid #ccc;}
.dateWrap .weekDate ul{border-top: none;}
.dateWrap li{width: 100px;text-align: center;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;font-size: 15px;font-family: 'Microsoft YaHei'}
.dateWrap li span{width: 100px;height:24px;border-right: 1px solid #ccc;}
.dateWrap .hourDate {position: relative;}
.dateWrap .hourDate ul{margin-left: 30px;}
.dateWrap .hourDate li{width: auto;}
.dateWrap .hourDate li span.hourpat00,.dateWrap .hourDate li span.hourpat01,.dateWrap .hourDate li span.hourpat02{position: absolute;left: 0; width:30px;height:40px;display: inline-block;padding: 58px 0;border-top: 1px solid #ccc;}
.dateWrap .motDate,.dateWrap .weekDate{display: block;margin-left: 131px;}
.dateWrap .title{font-size: 15px;}
.active{color: #ff3000;}